.panel {
    padding-top: 1.45rem;
    background-color: #fff;
}

div.acctTypeButton,  div.coOwnerButton {
  font-weight: 300;
  float: left;
  width: 35%;
  padding: 2rem;
  text-align: center;
  font-size: 1rem;
  transition: .3s all ease;
  border: 1px solid #2a6b96;
  color: #2a6b96;
  background-color: #fafafa; }
   div.acctTypeButton:nth-child(1),  div.coOwnerButton:nth-child(1) {
    margin: 0 2% 0 13%; }
   div.acctTypeButton:nth-child(2),  div.coOwnerButton:nth-child(2) {
    margin-left: 2%; }
   div.acctTypeButton:hover,  div.coOwnerButton:hover {
    cursor: pointer;
    background-color: #3983c5;
    color: #fff;
    border: 1px solid #2a6b96; }
   div.acctTypeButton.selected,  div.coOwnerButton.selected {
    background-color: #3983c5;
    color: #fff;
    border: 1px solid #2a6b96; }

div.acctTypeButton.small {
  padding: .25rem;
  opacity: .55;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
